<section class="login-container">
      <img
    src="assets/loginImage.jpg"
    alt="Login Background"
    class="background-img"
  />
  <div class="login">
    <h2 class="title">Reset Password</h2>

    <form (ngSubmit)="onResetPassword()" class="form">
      <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required class="input-field">

      <input type="text" placeholder="Enter OTP" [(ngModel)]="otp" name="otp" required class="input-field">

      <input type="password" placeholder="New Password" [(ngModel)]="newPassword" name="newPassword" required class="input-field">

      <button type="submit" class="submit-btn">Reset Password</button>
      <button type="button" (click)="goBackToLogin()" class="toggle-btn">Back to Login</button>
    </form>
  </div>
</section>
