<!-- app.component.html -->





<!-- Fireworks Canvas -->
<canvas #fireworksCanvas class="fireworks-canvas" *ngIf="showFireworks"></canvas>



<!-- Floating Diyas -->
<!-- <div class="diya left-diya" *ngIf="showFireworks">
  <img src="assets/diya.png" alt="Diya" />
</div>
<div class="diya right-diya" *ngIf="showFireworks">
  <img src="assets/diya.png" alt="Diya" />
</div> -->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>


<button class="scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollTop">
  ⬆️
</button>


