<section class="login-container">
  <div class="login">
    <h2 class="title">Forgot Password</h2>

    <p class="info-text">Enter your email below and we will send you password reset instructions.</p>

    <form (ngSubmit)="onForgotPassword()" class="form">
      <input type="email" placeholder="Email" [(ngModel)]="forgotEmail" name="forgotEmail" required class="input-field">

      <button type="submit" class="submit-btn">Send Reset Link</button>
      <button type="button" (click)="goBackToLogin()" class="toggle-btn">Back to Login</button>
    </form>
  </div>
</section>
