<section class="login-container">
      <img
    src="assets/loginImage.jpg"
    alt="Login Background"
    class="background-img"
  />
  <div class="login">
    <h2 class="title">Forgot Password</h2>

    <p class="info-text">Enter your email below and we will send you Otp to reset your password</p>

    <form (ngSubmit)="onForgotPassword()" class="form">
      <input type="email" placeholder="Email" [(ngModel)]="forgotEmail" name="forgotEmail" required class="input-field">

      <button type="submit" class="submit-btn">Send OTP</button>
      <button type="button" (click)="goBackToLogin()" class="toggle-btn">Back to Login</button>
    </form>
  </div>
</section>
