<section id="home">
  <app-hero></app-hero>
</section>

<section id="about">
  <app-about></app-about>
</section>

<section id="notice-board">
  <app-notice-board></app-notice-board>
</section>

<section id="kindergarten">
  <app-kindergarten></app-kindergarten>
</section>

<!-- <section id="info">
  <app-info-cards></app-info-cards>
</section> -->

<section id="gallery">
  <app-gallery></app-gallery>
</section>

<section id="staff">
  <app-staff></app-staff>
</section>

<section id="contact">
  <app-contact></app-contact>
</section>
